body {
    border: 0em;
    margin: 0em;
    padding: 0em;
    height: 100%;
}

#map {
    border: 0em;
    padding: 0em;
    width: 100%;
    height: 100%;
}

a:link, a:visited, a:hover, a:active {
    color: #9e9eff;
}

.olControlAttribution {
    bottom: 0.2em;
    left: 0.2em;
}