<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.qmsos.weathermo"
    android:versionCode="14"
    android:versionName="@string/app_version_name" >

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="24" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppCompatTheme" >
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppCompatThemeInverted" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CityActivity"
            android:label="@string/activity_city" >
        </activity>
        <activity
            android:name=".MapActivity"
            android:label="@string/activity_map" >
        </activity>
        <activity
            android:name=".PreferenceActivity"
            android:label="@string/activity_preference"
            android:parentActivityName=".MainActivity" >
        </activity>

        <provider
            android:name=".WeatherProvider"
            android:authorities="org.qmsos.weathermo.weatherprovider"
            android:exported="false" >
        </provider>

        <service
            android:name=".WeatherService"
            android:enabled="true"
            android:exported="false" >
        </service>

        <receiver
            android:name=".WeatherAlarmReceiver"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="org.qmsos.weathermo.ACTION_REFRESH_ALARM" />
            </intent-filter>
        </receiver>
    </application>

</manifest>